In [1]:
import os

import duckdb
import pandas as pd

from database import Database
import config

In [2]:
db: Database = Database('historical_option_data.db')

In [3]:
db.connection.execute(f"SELECT DISTINCT date FROM {config.OPTIONS_DATA_TABLE} WHERE act_symbol = 'SPY' ORDER BY date DESC").df()

           date
0    2025-09-15
1    2025-09-12
2    2025-09-11
3    2025-09-09
4    2025-09-08
...         ...
1011 2019-03-09
1012 2019-03-02
1013 2019-02-23
1014 2019-02-16
1015 2019-02-09

[1016 rows x 1 columns]

In [4]:
df = db.connection.execute(f"SELECT * FROM {config.OPTIONS_DATA_TABLE} WHERE act_symbol = 'SPY' AND date = '2023-03-17'").df()
# db.connection.execute(f"SELECT DISTINCT expiration FROM {config.OPTIONS_DATA_TABLE} WHERE act_symbol = 'SPY' AND date = '2025-09-15'").df()

In [5]:
df.head()

,date,act_symbol,expiration,strike,call_put,bid,ask,vol,delta,gamma,theta,vega,rho
0,2023-03-17,SPY,2023-03-31,275.0,Call,115.76,116.04,0.6966,0.9958,0.0002,-0.0533,0.0091,0.1047
1,2023-03-17,SPY,2023-03-31,275.0,Put,0.03,0.04,0.6490,-0.0023,0.0001,-0.0127,0.0055,-0.0004
2,2023-03-17,SPY,2023-03-31,285.0,Call,105.78,106.07,0.6385,0.9950,0.0003,-0.0560,0.0106,0.1084
3,2023-03-17,SPY,2023-03-31,285.0,Put,0.04,0.05,0.6034,-0.0031,0.0002,-0.0154,0.0072,-0.0005
4,2023-03-17,SPY,2023-03-31,295.0,Call,95.81,96.10,0.5847,0.9939,0.0004,-0.0598,0.0128,0.1120

In [6]:
df['expiration_in_days'] = (pd.to_datetime(df['expiration']) - pd.to_datetime(df['date'])).dt.days
df['expiration_in_days'].describe()

count    66.000000
mean     30.333333
std      14.493854
min      14.000000
25%      14.000000
50%      28.000000
75%      49.000000
max      49.000000
Name: expiration_in_days, dtype: float64